export JAVA_HOME=/usr/java
export CATALINA_HOME="/opt/tomcat"
export CATALINA_OPTS="-Xms512m -Xmx1024m -Dappserver.home=$CATALINA_HOME -Dappserver.base=$CATALINA_HOME"
export CATALINA_PID="$CATALINA_BASE/bin/catalina.pid"